div {
    text-align: center;
    overflow: hidden;
    border: 2px solid rgb(240, 53, 53);
    width: 500px;
    background: blue;
    border-radius: 40px;
    
}   


h1 {font-family: Impact;
    font-size: 60pt;
    margin: 10px;
    text-decoration: underline;
}


img {
    width: 400px;
    border: 1px solid black;
    padding: 10px;

}